:root {
  --primary-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Roboto", sans-serif;
  --primary-color: #009dad;
  --secondary-color: #ff4f6e;
  --accent-color: #ffaf00;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  border: var(--secondary-color) solid 15px;
}

h1 {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 45px;
  color: var(--secondary-color);
}

h2 {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 84px;
  letter-spacing: -0.03em;
}

h3 {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 50px;
  letter-spacing: -0.03em;
}

h4 {
  font-family: var(--primary-font-family);
}

ul {
  list-style-type: none;
}

li {
  padding: 5px;
  display: inline;
}

p {
  font-family: var(--secondary-font-family);
  font-size: 18px;
}

.nav-title a {
  text-decoration: none;
}

.nav-title a:hover {
  text-decoration: none;
}

.nav-link {
  font-size: 18px !important;
  color: #212529 !important;
  font-family: var(--primary-font-family);
}

.nav-link:hover {
  color: #464646b3 !important;
}

.nav-link:active {
  color: var(--secondary-color);
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  margin-bottom: 50px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.logo {
  width: 100px;
}

.first-name {
  color: #009dad;
  font-size: 35px;
  font-weight: 700;
  font-family: var(--secondary-font-family);
}

.last-name {
  color: var(--secondary-color);
  font-size: 35px;
  font-weight: 700;
  font-family: var(--secondary-font-family);
}

.hero {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(0, 157, 174, 0.15592174369747902) 100%
  );
}

.hero-right-column {
  background: url("/images/hero-sidebar-bg.png") no-repeat;
  height: 90vh;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

.hero-content {
  padding-top: 100px;
}

.pink-button {
  width: 50px;
  padding-top: 50px;
}

.contact-me-content {
  padding-top: 60px;
}

.arrow {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: stretch;
}

.social-section {
  padding-top: 50px;
}

.social {
  width: 55px;
}

.social:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transition: all 150ms ease-in-out;
}

.featured {
  padding-bottom: 60px;
}

.description {
  margin: 20px 0;
}

.sunflower-title,
.weather-title,
.learning-title {
  font-size: 45px;
}

.project {
  margin-bottom: 150px !important;
}
.project-image {
  display: block;
  margin: 0 auto;
  width: 90%;
  box-shadow: var(--box-shadow);
}

.tools {
  width: 45px;
}

.app-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: #ffffff;
  padding: 20px 15px;
  border-radius: 4px;
  border: solid 1px var(--primary-color);
  text-decoration: none;
  font-family: var(--primary-font-family);
}

.app-link:hover {
  background: #ffffff;
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
  text-decoration: none;
}

/*ABOUT PAGE*/
.about-subtitle {
  font-size: 40px;
  line-height: 1.3em;
  padding: 30px 0;
  font-family: var(--primary-font-family);
}

.about-image {
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.about-hero {
  background: url("/images/about-bg.png") no-repeat;
}

.portfolio-link {
  margin: 50px auto;
}

a.portfolio-button {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 4px;
  border: solid 1px var(--primary-color);
  text-decoration: none;
  font-family: var(--primary-font-family);
  text-align: center;
}

a.portfolio-button:hover {
  background: #ffffff;
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
  text-decoration: none;
}

.portfolio-social {
  text-align: center;
}

/*WORK PAGE*/
.work-subtitle {
  font-size: 30px;
  line-height: 1.3em;
  padding: 30px 0;
  font-family: var(--primary-font-family);
}

.work-img {
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  width: 550px;
  box-shadow: var(--box-shadow);
}

/*RESPONSIVE LAYOUT*/
@media (max-width: 960px) {
  .featured {
    margin: 30px 0;
  }
  .project-description {
    margin: 0;
  }
}
